################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ares.Web.Admin/bin
/Ares.Web.Admin/obj/Debug
/packages
/.vs/RestaurantDiscount.Ares/v14
/Ares.Core/bin/Debug
/Ares.Core/obj/Debug
/Ares.Data.Ef/bin/Debug
/Ares.Data.Ef/obj/Debug
/Ares.Database/bin/Debug
/Ares.Database/obj/Debug
/Ares.Infrastructure/bin/Debug
/Ares.Infrastructure/obj/Debug
/Ares.WebApi/bin
/Ares.WebApi/obj/Debug
/.vs/RestaurantDiscount.Ares/v14/.suo
/.vs/config/applicationhost.config
/Ares.Database/Ares.Database.jfm
/Ares.Database/Ares.Database.dbmdl
/Ares.BusinessManager/bin/Debug
/Ares.BusinessManager/obj/Debug
/Ares.CodeGeneration/bin/Debug
/Ares.CodeGeneration/obj/Debug
/Ares.Contract/bin/Debug
/Ares.Contract/obj/Debug
/Ares.BusinessManager/bin/Release
/Ares.BusinessManager/obj/Release
/Ares.Contract/bin/Release
/Ares.Contract/obj/Release
/Ares.Core/bin/Release
/Ares.Data.Ef/bin/Release
/Ares.Infrastructure/bin/Release
/Ares.WebApi/obj/Release
/Ares.WebApi/Properties/PublishProfiles
/Ares.CodeGeneration/obj/Release
/Ares.Core/obj/Release
/Ares.Data.Ef/obj/Release
/Ares.Infrastructure/obj/Release
/Ares.Web.Admin/obj/Release
