################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ares.Web.Admin/bin
/Ares.Web.Admin/obj/Debug
/packages
